    <br /> <br />
    <div class="text-center">
    <h2>INDEX PAGE FOR VOLUNTEER ENTRIES</h2>
    <br />
    <br />
      <% @entries.each do |entry| %>
        <p><%= entry.title %></p><br />
        <p><%= entry.location %></p><br />
        <p><%= entry.date %></p> <br />
        <p><%= entry.description %></p> <br />
        <a href="/entries/<%=entry.id%>/edit">Edit</a>
        <br />
      <% end %> 
    </div>

    <!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>