   <div class="text-center">
    </h1>INDEX PAGE FOR VOLUNTEER ENTRIES</h1>
    <br />
    <br />
      <% @entries.each do |entry| %>
        <%= entry.title %> <br />
        <%= entry.location %><br />
        <%= entry.date %> <br />
        <%= entry.description %> <br />
        <br />
        <br />
        <a href="/entries/<%=entry.id%>/edit">Edit</a>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
      <% end %> 
    </div>