   <div class="text-center">
    </h1>INDEX PAGE FOR VOLUNTEER ENTRIES</h1>
    <br />
    <br />
      <% @entries.each do |entry| %>
        <p><%= entry.title %></p><br />
        <p><%= entry.location %></p><br />
        <p><%= entry.date %></p> <br />
        <p><%= entry.description %></p> <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <a href="/entries/<%=entry.id%>/edit">Edit</a>
      <% end %> 
      
    </div>