 <div class="text-center">
  <br />
  <h2>Your Volunteer Entry </h2> 
    <h4><%= @entry.title %></h4>
    <h4><%= @entry.location %></h4>
    <h4><%= @entry.date %></h4>
    <h4><%= @entry.description %></h4>
    
    <% if current_user %>
    <a href="/entries/<%=@entry.id%>/edit">Edit Entry </a>
      <br />  
      <br />  
    <form method="post" action="/entries/<%=@entry.id%>/delete">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete Entry">
    </form>
      <br />  
      <br />
    <% end %>
      <br />  
      <br />
  </div>