<div class="text-center">
   
    <h2><%="#{@user.username}" %>'s Page</h2>

    <h3>Email: </h3>
    <h4><%= @user.email %></h4>

		    
        <% if @user == current_user %>
        <br />
        <h3> You have volunteered <%= "#{@user.entries.size}"%> time(s)</h3>
        <% else %>
        <h3> Entries logged: <%= "#{@user.entries.size}"%></h3>
        <% end %>
        <br />
        <br />
        <h3> Total Reward point(s) <%= "#{@user.entries.size}"%></h3>
        <% @user.entries.each do |entry| %>
        <a href="/entries/<%= entry.id %>"><h3><%= entry.user.username %></h3></a>
        <% end %>
        <br />
        <% @user.entries.each do |entry| %>
        <h2><a href="/entries/<%= entry.id %>"><%= entry.created_at %></a></h2>
        <% end %>
        <br />
        <h2> Ready to commit more volunteer entries?</h2>
        <br />
        <ul class="actions">
            <li><a href="/entries/new" class="button">Add Journal Entry</a></li>
       	</ul>
</div>

