 <div class="text-center">
    <h1><%="#{@user.username}" %>'s Volunteer Points</h1>
        <% if @user == current_user %>
        <br />
        <h3> You have volunteered <%= "#{@current_user.entries.size}"%> time(s)</h2>
        <% else %>
        <h3> Entries logged: <%= "#{@current_user.entries.size}" %></h2>
        <% end %>
        <br />
        <br />
        <h3> Total Reward point(s) <%= "#{@current_user.entries.size}"%></h2>
        <% @user.entries.each do |entry| %>
        <a href="/entries/<%= entry.id %>"><h3><%= entry.username %></h3></a>
        <% end %>
        <br />
        <% @user.entries.each do |entry| %>
        <h2><a href="/entries/<%= entry.id %>"><h3><%= entry.created_at %></h3></a></h2>
        <% end %>
        <br />
        <h2> Ready to commit more volunteer entries?</h2>
        <br />
        <ul class="actions">
			<li><a href="/entries/new" class="button">Add Journal Entry</a></li>
		</ul>
</div>
